{
  "plugins": [
    "babel",
    "cypress",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ],
    "import/no-named-as-default": 0,
    "no-plusplus": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
