/node_modules/
/storymanager/db.sqlite3
/app/Pipfile.lock
webpack.config.js
.babelrc
.idea
.idea/*
.DS_Store
package*
*.pyc
/app/backend/storymanager/rooms/migrations/*
/app/backend/storymanager/texts/migrations/*
/app/backend/storymanager/*/__pycache__/*
/app/backend/storymanager/.coverage
/app/node_modules/
/app/frontend/.cache/
/app/frontend/dist/
/app/backend/backend/
/app/backend/postgres_data/
