backend/Pipfile.lock
.idea
.idea/*
.DS_Store
*.pyc
backend/storymanager/rooms/migrations/*
backend/storymanager/texts/migrations/*
backend/storymanager/*/__pycache__/*
backend/storymanager/.coverage
node_modules/
frontend/.cache/
frontend/dist/
backend/backend/
backend/postgres_data/
.env.prod
.env.prod.db
frontend/node_modules/
backend/Dockerfile.prod
backend/entrypoint.prod.sh
backend/Pipfile.lock
.dockerignore
frontend/Dockerfile.prod
dump.rdb
docker-compose.prod.yml
