[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
channels = "*"
channels-redis = "*"
djangorestframework-camel-case = "*"
psycopg2-binary = "*"
gunicorn = "*"
daphne = "*"
pytest = "*"

[requires]
python_version = "3.7"
