@import '~react-bulma-components/src/index.sass';
@import '~bulma-tooltip';
@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap');

$family-sans-serif: 'Source Sans Pro', sans-serif;
$main-font-family: $family-sans-serif;
$cursive-font-family: 'Neucha', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$black: #000 !default;

$primary: #EB6864;
$secondary: #aaa;
$success: #22B24C;
$info: #369;
$warning: #F5E625;
$danger: #F57A00;

$yellow: #ffed02 !default;
$accent-bg-color: $warning;
$accent-font-color: $black;

$nav-height: 3.25rem;

@mixin color-underline() {
  text-decoration: none !important;
  padding: 0;
  background-image: linear-gradient(
                  transparent 0%,
                  transparent calc(50% - 4px),
                  rgba(255, 237, 2, 1) calc(50% - 4px),
                  rgba(255, 237, 2, 1) 100%
  );
  transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0;
  word-break: break-word;
}

@mixin color-underline-hover() {
  color: $black;
  padding: 2px 0 4px 0;
  background-image: linear-gradient(
                  transparent 0%,
                  transparent calc(50% - 8px),
                  rgba(255, 237, 2, 1) calc(50% - 8px),
                  rgba(255, 237, 2, 1) 100%
  );
  background-position: 0 100%;
}

%highlight {
  display: table;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFD0AE 50%);
}

%gray-border {
  border: 1px solid $gray-200;
}

%dark-bg {
  background-color: $gray-100;
}

#app {
  min-height: 100vh;
  width: 100vw;
}

%full-page {
  min-height: -webkit-calc(100vh - 6.5rem);
  min-height: -moz-calc(100vh - 6.5rem);
  min-height: calc(100vh - 6.5rem);
  max-width: 100vw !important;
  display: flex;
  flex-flow: column;
}

.main-content {
  font-family: $main-font-family;

  @extend %full-page;
}

.accent-bg {
  background-color: $accent-bg-color !important;
  color: $accent-font-color;
}

.full-page {

  @extend %full-page;
}

.align-center {
  margin: auto;
}

nav {
  min-height: $nav-height;
  font-family: $main-font-family;
  color: $black;
}

.navbar-item .buttons a:not(:last-of-type) {
  margin-right: .5rem;
}

.color-underline,
%color-underline {
  @include color-underline;

  &:hover {
    @include color-underline-hover;
  }
}

mark, .story-title {
  background-color: $yellow;
  color: $black;
}

footer,
.navbar-link,
.card,
.illustrated-text-card,
.hero {

  a {
    color: black;
    @extend %color-underline;
  }
}

.hero {
  max-width: 100vw !important;

  .start-button {
    &::after {
      content: '✨';
    }
  }
}

footer {
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 !important;
}

.editor {
  background-color: $white;
  margin-bottom: 1rem;
}

//.card,
//.pagination,
//.dashboard,
//.paper {
//  box-shadow: 4px 4px 0 #c3c3c3;
//}

.content-card {
  margin: 2rem 0;
}

.responsive {
  width: 100%;
  overflow-x: auto;
}

.text-viewer-table {
  background-color: transparent !important;
  border: none !important;
  border-collapse: separate;
  border-spacing: 1rem 0;

  @extend %finished-text;

  & td {
    padding: 0;
    border: none !important;
  }

  & th {
    padding: 0;
    border: none !important;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.7em;
  }
}

.table {
  background-color: $white;
  border-radius: .25rem;

  @extend %gray-border;

  & a {
    color: black;

    @include color-underline;

    &:hover, &:active {
      @include color-underline-hover;
    }
  }
}

.dark-bg {
  @extend %dark-bg;
}

.pagination-center {
  display: flex;
  justify-content: center;
}

.pagination {
  justify-content: center;
}

.logo-img {

  &:hover {
    cursor: pointer;
  }
}

%finished-text {
  margin: 2rem 0;
  font-size: 1.2rem;
  word-break: break-word;
}

.full-text {
  @extend %finished-text;
}

.editor-form {
  margin-top: .8rem;
}

.start-button {

  &::before {
    content: '✨';
  }
}

.question-button {

  &::before {
    content: '💡';
  }
}

.nav-welcome-text {

  &::after {
    content: ' 👋';
  }
}

.visible-text {
  width: 100%;
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: $cursive-font-family;
}

.visible-text-lead {

  &::before {
    content: '\2026'; // ellipsis
    display: inline;
  }
}

.paper {
  font-family: $cursive-font-family;
  padding: 1.7rem;
  position: relative;
  line-height: 2em;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 2em 2em;

  @extend %gray-border;
}

.paper textarea {
  font-family: $cursive-font-family;
  width: 100%;
  margin: 1.3rem 0;
  max-width: 100%;
  max-height: 100%;
  line-height: 1.5em;
  overflow-x: hidden;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1.2rem;
  box-sizing: border-box;
  z-index: 1;
}

.paper .buttons {
  justify-content: space-between;
}

.card {
  .paper {
    padding: 1.6rem 1rem;

    p {
      font-size: 1.2rem;
      margin: 0 0;
    }
  }
}


.finished-text-container {
  position: relative;
  border-radius: .2rem;

  &::before {
    content: '* * *';
    position: absolute;
    top: 2rem;
    left: 50%;
  }
}

.section-break {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #777;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;
}

::-moz-selection {
  background-color: #369;
  color: #ffffff;
}

::selection {
  background-color: $yellow;
  color: $black;
}

.text-page-container {
}

.illustrated-text-card {
  display: flex;
  flex-flow: column;
}

.card-about-title {
  &::before {
    content: '\2026 ';
    font-weight: 100;
  }
}

.illustrated-text-card {

  img {
    width: 4rem;
    margin: auto;
    display: block;
  }
}

.paper-top-message {
  font-family: $main-font-family;
}

.paper-bottom-message {
  font-family: $main-font-family;
  margin-bottom: 2rem;
}

.full-size {
  width: 100%;
  height: 100%;
}

.hidden-input {
  display: none;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.room-link-td {
  white-space: nowrap;

  &::before {
    content: '✶ ';
    color: $primary;
  }
}

.alert {
  margin-top: 1rem;
}

.error-container {
  margin: auto;
  font-family: $cursive-font-family;
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
    @extend %highlight;
  }
}

.unstyled-button,
.unstyled-button:hover {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.spinner-container {
  margin: auto;
  margin-left: 50%;
  text-align: center;
}

.notifications-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.brand {
  a {
    color: $black;
    text-decoration: none;
    font-weight: 900;
  }
}

.logo-text {
  display: flex;
  flex-flow: column;
  line-height: .9;
  margin: 0 .2rem 0 .4rem;
}

.fade-in {
  opacity: 0;
}

.fade-in.visible {
  transition: opacity .3s ease-out;
  opacity: 1;
}

.Typist {
  display: inline;
}

.circle-bg {
  border-radius: 50%;
  text-align: center;
  padding: .2rem .1rem .2rem .4rem;
  vertical-align: middle;
}

.table-container {
  max-width: 100vw;
}

.td-username {
  width: 4rem;
  border: 0;
}

.tabs-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tabs ul {
  flex-shrink: 1;
  flex-wrap: wrap;
  border-bottom-color: transparent;
}

.p-invite-others {
  margin-bottom: 1rem;

  a {
    color: black;
    @extend %color-underline;
  }

  button {
    vertical-align: middle;
  }
}

.editor-button {
  margin-top: 1.75rem;
}

.share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.m-auto {
  margin: auto;
}

.section {
  padding: 3rem .5rem !important;
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}

.column {
  max-width: 100vw !important;
}

.section.full-page {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.has-shadow {
  box-shadow: 0 2px 2px 0 $gray-200;
}
