@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto&display=swap');

$main-font-family: 'Roboto', sans-serif;
$cursive-font-family: 'Neucha', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$primary: #EB6864;
$secondary: #aaa;
$success: #22B24C;
$info: #369;
$warning: #F5E625;
$danger: #F57A00;

$purple: #786ea1 !default;
$pink: #d6456b !default;
$red: #860202 !default;
$yellow: #ffed02 !default;
$green: #6a950e !default;
$teal: #abcf84 !default;
$cyan: #039343 !default;
$gray: #424242 !default;

$nav-height: 4rem;

@mixin color-underline($border: 2px, $color: $yellow, $padding: 2px) {
  text-decoration: none;
  transition: all .2s ease-in;
  border-bottom: $border solid $color;
  padding-bottom: $padding;
}

.app {
  min-height: 100vh;
}

.main-content {
  min-height: -webkit-calc(100vh - 8rem);
  min-height: -moz-calc(100vh - 8rem);
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-flow: column;
  font-family: $main-font-family;
}

.align-center {
  margin: auto;
}

.nav {
  height: $nav-height;
}

.color-underline,
%color-underline {
  @include color-underline;

  &:hover {
    @include color-underline(5px, $yellow, 1px)
  }
}

.footer,
.navbar-nav,
.card,
.jumbotron,
.illustrated-text-card {

  a {
    @extend %color-underline;
  }
}

%gray-border {
  border: 1px solid $gray-200;
}

.footer {
  height: $nav-height;
  line-height: $nav-height;
  background-color: $white;

  @extend %gray-border;
}

.editor {
  background-color: $white;
  margin-bottom: 1rem;
}

.jumbotron {
  background-color: transparent;
  color: $black;
  //@extend %gray-border;
}

.card,
.pagination,
.dashboard,
.paper {
  box-shadow: 4px 4px 0 #c3c3c3;
}

.dashboard {
  transition: all .2s ease-in-out;
}

.text-viewer-table {
  background-color: transparent !important;
  border-width: 0 !important;
  margin: 3.1rem 2rem;
  border-collapse: separate;
  border-spacing: 1rem 0;

  & td {
    padding: 0;
  }

  & th {
    padding: 0;
  }
}

.table {
  background-color: $white;
  border-radius: .25rem;

  @extend %gray-border;

  & a {
    color: black;

    @include color-underline;

    &:hover {
      @include color-underline(5px, $yellow, 1px)
    }
  }
}

%dark-bg {
  background-color: $gray-100;
}

.dark-bg {
  @extend %dark-bg;
}

.pagination-center {
  display: flex;
  justify-content: center;
}

.pagination {
  justify-content: center;
}

.logo-img {

  &:hover {
    cursor: pointer;
  }
}

.full-text {
  margin: 3.1rem 2rem;
}

.editor-form {
  margin-top: .8rem;
}

.shadow-button,
.nav-item button,
.inline-button,
.tab-pill.active {
  box-shadow: 2px 2px 0 #222 !important;

  &:hover {
    box-shadow: 1px 1px 0 #222 !important;
  }
}

.tab-pill {

  &:last-child { // TODO in mobile view
    margin-bottom: 1rem;
  }
}

.start-button,
.card button {
  box-shadow: 4px 4px 0 #222;

  &:hover {
    box-shadow: 2px 2px 0 #222;
  }
}

.start-button {

  &::before,
  &::after {
    content: '✨';
  }
}

.nav-welcome-text {

  &::after {
    content: ' 👋';
  }
}

//.story-headline {
//  &::before {
//    background-image: url(/static/img/fold_over.svg);
//    background-size: 2.5rem 2.25rem;
//    background-repeat: no-repeat;
//    display: inline-block;
//    width: 2.5rem;
//    height: 2.25rem;
//    content: '';
//    margin-right: 0.5rem;
//    vertical-align: -50%;
//  }
//}

.visible-text {
  width: 100%;
  height: 100%;
  padding: .5rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.visible-text-lead {

  &::before {
    content: '\2026'; // ellipsis
    display: inline;
  }
}

.paper {
  font-family: $cursive-font-family;
  padding: 37px 55px 27px;
  position: relative;
  line-height: 2em;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 2em 2em;

  @extend %gray-border;
}

.paper textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 1.5em;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1.2rem;
  box-sizing: border-box;
  z-index: 1;
}

.finished-text-container {
  position: relative;
  font-family: $main-font-family;

  &::before {
    content: '* * *';
    position: absolute;
    top: 2rem;
    left: 50%;
  }
}

.section-break {
  background-color: transparent;
  border: 0;
  border-top: 1px solid $gray-200;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;

  &::before {
    color: darken($gray-200, 20%);
    content: '\25C8';
    display: inline-block;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    text-indent: -1px;
    text-rendering: geometricPrecision;
    transform: translateY(-53%);
    width: 15px;
  }
}

::-moz-selection {
  background-color: #369;
  color: #ffffff;
}

::selection {
  background-color: $yellow;
  color: $black;
}

.text-page-container {
}

.illustrated-text-card {
  display: flex;
  flex-flow: column;
}

.illustrated-text-card section {

  h2 {

    &::before {
      content: '\2026 '
    }
  }

  img {

    &:nth-of-type(even) {
      vertical-align: middle;
      float: left;
      padding: 1em;
      overflow: auto;
      width: 20rem;
    }

    &:nth-of-type(odd) {
      vertical-align: middle;
      float: right;
      padding: 1em;
      overflow: auto;
      width: 20rem;
    }
  }
}

.paper-top-message {
  padding-top: .5rem;
  padding-left: .5rem;
}

.paper-bottom-message {
  padding-top: 1rem;
  padding-left: .5rem;
}

.full-size {
  width: 100%;
  height: 100%;
}

.hidden-input {
  display: none;
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.room-link-td {

  &::before {
    content: '✶ ';
    color: $primary;
  }

  //&::after {
  //  content: ' ✶';
  //  color: $primary;
  //}
}

.alert {
  margin-top: 1rem;
}

%highlight {
  display: table;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFD0AE 50%);
}

.not-found {
  margin: auto;
  font-family: $cursive-font-family;
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
    @extend %highlight;
  }
}

.highlight {

}

.unstyled-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.spinner-container {
  margin: auto;
  text-align: center;
}

.notifications-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}